{:name "Scala"
 :version "0.0.1"
 :author "wesleybits"
 :source "https://github.com/wesleybits/scala-lighttable"
 :desc "A potentially useful Scala mode for LightTable."
 :behaviors "scala.behaviors"}
